body
{
    background-image: url('img/prism.png');
    background-color: grey;
}

hr{
   margin-top: 4%;
   background: rgb(34, 31, 31);
}

h1{
    margin-top:1.5em;
    color:white;
    text-align: center;
    font-size:3em;
    font-weight: 400;
    font-family: 'Sen', sans-serif;
}

.upload-card{
    background-color: rgb(248, 242, 242);
    margin-top:1em;
    width: 500px;
    height: 300px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.6);
}
.result-card{
    background-color: rgb(255, 255, 255);
    margin-top:1em;
    width: 800px;
    min-height: 600px;
    height: auto;
    margin: 0 auto;
    margin-bottom:100px;
}

.drag-box{
    
  /*background-color: rgb(212, 212, 207);*/
  height:210px;
  margin:15px;
  margin-bottom:12px;
  /*border-radius: 1em;*/
  font-family: 'Sen', sans-serif;
  font-size: 17px;
  display: flex;
  justify-content: center;
  background-color: #d5d7da;
}

.upload-container {
  display: block;
  margin-top:7px;
  height:90%;
  width: 95%;
  border-color: rgb(117, 115, 115);
  border-width: 2px;
  border-style: dashed;
  background-color: #d5d7da;
}

.drop-container {
  display: inline-block;
  height: 100%;
  width: 100%;
  cursor: pointer;
}

.file-input {
  width: 0.1px;
height: 0.1px;
opacity: 0;
overflow: hidden;
position: absolute;
z-index: -1;
}

.file-name {
  margin-top: 90px;
  text-align: center;
}

a {
    text-decoration: none;
    color:black;
}

.button-container{
    display: grid;
    grid-template-columns: auto auto;
}
.button {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  .button svg {
    height: 45px;
    width: 130px;
    fill: none;
    background: #FFA114;
	color: white;
    stroke-width: 5;
  }
  .button svg .o1 {
    stroke: rgba(255, 179, 65, 0.7);
    fill: #FFA114;
    transition: all 1s ease-in-out;
  }
  .button svg .o2 {
    stroke: white;
    stroke-dasharray: 20 420;
    stroke-dashoffset: 20;
    transition: all 1s ease-in-out;
  }
  .button span {
    position: absolute;
    margin: auto 0;
    /*text-transform: uppercase;*/
    font-size: 13px;
    letter-spacing: 1.5px;
    font-family: 'Sen', sans-serif;
  }
  .button:hover .o1 {
    fill: rgba(204, 129, 16, 0.3);
  }
  .button:hover .o2 {
    stroke-dashoffset: -420;
  }
/*.footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height:3em;
  background-color: rgb(34, 31, 31);
  color: white;
}

.footer-text{
    text-align: center;
    margin-top:1em;
}*/